@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-height: auto;
  --header-height: auto;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 50em) {
    font-size: 50%;
  }
  @media only screen and (max-width: 37.5em) {
    font-size: 37.5%;
  }
}

body {
  margin: 0;
  font-weight: 500;
  width: 100%;
  max-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 8rem;
  font-weight: 500;
  padding: 1.5rem 0;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  padding: 1.5rem;
}

ul,
li {
  list-style: none;
}

header {
  width: 100%;
  height: var(--nav-height);
}

main {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  width: 100%;
  min-height: 50vh;
  height: calc(100vh - var(--header-height));

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  justify-content: center;
  align-content: center;
  padding: 1rem 2rem;

  @media only screen and (max-width: 50em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

section {
  width: 100%;
  min-height: auto;
  padding: 2rem;

  border: 1px solid #333333;
  border-radius: 1rem;
}

img {
  /* object-fit: cover; */
  clip-path: inset(10%);
}

/* /////////////////////////////////// */
/* /////////////////////////////////// */
/* /////////////////////////////////// */

.loading {
  font-size: 2rem;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
}

.error {
  color: #d61515;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
}

.header {
  height: var(--header-height);
}
